.app-sidebar-wrapper {
    flex: 0 0 auto;
    width: 50px;
}

.app-sidebar {
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #111;

    .app-sidebar-section {
        .sidebar-item,
        .section-header {
            height: 50px;
            color: #eee;
            display: flex;

            .item-icon,
            .section-icon {
                height: 50px;
                width: 50px;
                flex: 0 0 auto;

                text-align: center;
                line-height: 50px;
            }

            .item-name,
            .section-name {
                flex: 1 1;
                padding-left: 10px;
                padding-right: 20px;
                line-height: 50px;
            }
        }

        .section-header {
            height: 40px;
            color: #666;

            .section-icon {
                height: 40px;

                line-height: 40px;
            }

            .section-name {
                line-height: 40px;
            }
        }

        .sidebar-item {
            cursor: pointer;

            &.active {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    .item-name,
    .section-name {
        display: none;
        opacity: 0;
    }

    &.active {
        width: 250px;

        .item-name,
        .section-name {
            opacity: 1;
        }
    }

    &.active,
    &.animating {
        z-index: 1;

        .item-name,
        .section-name {
            display: block;
        }
    }

    &.animating {
        &.active {
            animation: sidebar-in 0.75s;

            .item-name,
            .section-name {
                animation: sidebar-content-in 0.75s;
            }
        }

        &:not(.active) {
            animation: sidebar-in 0.75s reverse;

            .item-name,
            .section-name {
                animation: sidebar-content-in 0.75s reverse;
            }
        }
    }
}

@keyframes sidebar-in {
    0% {
        width: 50px;
    }
    100% {
        width: 250px;
    }
}

@keyframes sidebar-content-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
